@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h4>Add a new task</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @* @Html.Label("Select course")
  @Html.DropDownList("CourseId") *@

  @Html.Label("Enrollment Date:")
  @Html.TextBoxFor(model => model.EnrollmentDate)

  <input type="submit" value="Add new Student" class="btn btn-default"/>
}
<hr />
<p>@Html.ActionLink("Show all Students", "Index")</p>