@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h2>Edit</h2>

<h4>Edit this Student: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StudentId)

    @Html.Label("Select Department")
    @Html.DropDownList("DepartmentId")

    <input type="submit" value="Save" />
}
<hr />
<p>@Html.ActionLink("Back to list", "Index")</p>